footer {
  margin: 20px;
}

.Gallery-card > img {
  display: block;
}

.App {
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  /* 'Stick No Bills', sans-serif; */
  /* font-family: 'Oswald', sans-serif; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  position: relative;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#myname {
  color: #483d8b;
  position: absolute;
  bottom: -30px;
}

#Coming-soon {
  color: #483d8b;
  margin: 20%;
}

.Navigation {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  font-family: monospace;
  font-size: large;
}

.Link {
  cursor: pointer;
}

.Link:hover {
  color: #483d8b;
}

.Gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Gallery-card {
  padding: 20px;
  margin: 20px;
  background-color: pink;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #c192c1;
}
